body {
    background-color: lightgrey;
}
p {
    font-family: "Verdana", Arial, Sans-serif;
}
h1 {
    color: black;
}
h2 {
	}
table {
	width: 75%;
	background-color: white;
	margin-left: 20px
}
th {
    text-align: center;
}
